<a class="room-item" [routerLink]="['/chat', room._id]" href="javascript: void(0)" #roomLink>

  <div class="icon">
    <mat-icon aria-hidden="true">account_circle</mat-icon>
  </div>

  <div class="info">
    <div class="name">{{ room.name }}</div>
    <div class="description">
      <span>{{ 'chat.online' | translate }} </span>
      <span>{{ online() }}/{{ room.clients.length }}</span>
    </div>
  </div>

</a>

<div class="room-background" [class.selected]="selected" matRipple [matRippleTrigger]="roomLink"></div>

<button class="room-menu-btn" aria-hidden="true" mat-icon-button [matMenuTriggerFor]="roomMenu">
  <mat-icon aria-hidden="true">more_horiz</mat-icon>
</button>

<mat-menu #roomMenu="matMenu">
  <button mat-menu-item (click)="copyInviteLink()">
    <mat-icon aria-hidden="true">content_copy</mat-icon>
    <span>{{ 'chat.copy_invite_link' | translate }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon aria-hidden="true">settings</mat-icon>
    <span>{{ 'chat.room_settings' | translate }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon aria-hidden="true">group</mat-icon>
    <span>{{ 'chat.members' | translate }}</span>
  </button>
  <button mat-menu-item (click)="leaveRoom()">
    <mat-icon aria-hidden="true">exit_to_app</mat-icon>
    <span>{{ 'chat.leave_room' | translate }}</span>
  </button>
</mat-menu>
