@import "variables";
@import "mixins";

.room-item {
  margin-bottom: 20px;
  padding: 10px 15px 10px 10px;
  display: flex;
  align-items: stretch;
  background-color: $color-bg;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: background-color .2s ease-in;

  .icon {
    width: 46px;
    min-width: 46px;
    height: 46px;
    border-radius: 50%;

    mat-icon {
      width: 100%;
      height: 100%;
      font-size: 46px;
    }
  }

  .info {
    width: calc(100% - 94px);
    padding-left: 10px;
    white-space: nowrap;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 28px;
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 300;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.5px;
    }
  }

  .options {
    width: 48px;
    margin-left: auto;
    position: relative;

    .date {
      opacity: .6;
      font-size: 12px;
      font-weight: 300;
    }

    .menu {
      right: -6px;
      bottom: -7px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      position: absolute;
    }
  }

  &.selected {
    margin: -5px -5px 15px;
    padding: 15px 20px 15px 15px;
    background-color: $color-primary;
  }
}
