<header>

  <div class="container">

    <div class="mobile-menu">
      <button class="hamburger hamburger--elastic" [class.is-active]="open" (click)="hamburger()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div class="logo">
      <img src="assets/images/icons/logo.png">
    </div>

    <div class="user" [matMenuTriggerFor]="userMenu">

      <span class="name">{{ (userProvider.getMe() | async)?.login }}</span>

      <div class="avatar">
        <mat-icon aria-hidden="false" aria-label="User menu">account_circle</mat-icon>
      </div>

    </div>

  </div>

</header>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon aria-hidden="true">exit_to_app</mat-icon>
    <span>{{ 'common.log_out' | translate }}</span>
  </button>
</mat-menu>
