<form class="container" [formGroup]="form" (submit)="submit()">

  <mat-card class="card">

    <mat-card-header>
      <mat-card-title class="title">{{ 'index.enter_to_secret_chat' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">

      <p class="text">{{ 'index.sub_text' | translate }}</p>

      <!-- Username -->
      <mat-form-field appearance="outline" color="primary" class="field">

        <mat-label>{{ 'index.choose_your_name' | translate }}</mat-label>

        <input matInput formControlName="name">

        <mat-error *ngIf="form.get('name').getError('required')">
          <span>{{ 'errors.required_username' | translate }}</span>
        </mat-error>

      </mat-form-field>

    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-button color="primary" type="submit">{{ 'common.confirm' | translate }}</button>
    </mat-card-actions>

  </mat-card>

</form>
