@import "variables";


html, body { height: 100%; }

body {
  font-size: 16px;
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-bg;
  color: $color-text;
}

.mat-card {
  background-color: $color-fg;
  color: $color-text;
}
