@import "variables";


html, body { height: 100%; }

body {
  font-size: 16px;
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-bg;
  color: $color-text;
}

a {
  color: $color-primary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.mat-card {
  background-color: $color-fg;
  color: $color-text;
}

.mat-dialog-container {
  background: $color-fg;
}

.mat-menu-panel {
  min-height: unset !important;
  background: $color-fg !important;
  border: 1px solid rgba(gray, .4);

  .mat-menu-content {
    padding-top: 0;
    padding-bottom: 0;

    &:not(:empty) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

