
<form [formGroup]="form" (submit)="createRoom()" class="modal">

  <h1 mat-dialog-title class="modal-title">
    <span>{{ 'modals.create_private_room' | translate }}</span>
  </h1>

  <div mat-dialog-content class="modal-content">

    <p class="note">{{ 'modals.create_private_room_note' | translate }}</p>

    <!-- Room name -->
    <mat-form-field appearance="outline" color="primary" class="room-name-field">

      <mat-label>{{ 'modals.room_name' | translate }}</mat-label>

      <input matInput formControlName="roomName" name="roomName" autofocus>

      <mat-error *ngIf="form.get('roomName').getError('required')">
        <span>{{ 'errors.required_room_name' | translate }}</span>
      </mat-error>

    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" color="primary" class="room-name-field">

      <mat-label>{{ 'modals.password' | translate }}</mat-label>

      <input matInput formControlName="password" name="password" [type]="showPassword.value === 'show' ? 'text' : 'password'">

      <button matSuffix mat-icon-button type="button" (click)="showPassword.value = showPassword.value === 'show' ? '' : 'show'">
        <mat-icon>{{ showPassword.value === 'show' ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-hint>
        <span>{{ 'modals.room_password_hint' | translate }}</span>
      </mat-hint>

    </mat-form-field>

  </div>

  <div mat-dialog-actions class="modal-actions">

    <button mat-button class="create" cdkFocusInitial [class.loading]="form.loading">{{ 'common.create' | translate }}</button>

    <button mat-button class="cancel" (click)="cancel()" type="button">{{ 'common.cancel' | translate }}</button>

  </div>

</form>

<input type="hidden" #showPassword>

